<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>兴业银行-小红书</title>
    <link rel="stylesheet" href="/static/css/red_book.css">
    <link rel="stylesheet" href="/static/css/dialog.css">
</head>
<body>
<div class="header">
    <img src="/static/img/redbook2.png" alt="小红书">
    <input id="phone" type="tel" oninput="verification(this);" placeholder="输入手机号码">
    <a id="button" class="disable" href="javascript:void(0);" onclick="login();"></a>
</div>
</body>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/dialog.js"></script>
<script>
  function verification(currentDOM) {
    var value = currentDOM.value;
    var buttonDOM = document.getElementById('button');
    if(/^1[34578]\d{9}$/.test(value)){
      $(buttonDOM).removeClass('disable');
    }else{
      $(buttonDOM).addClass('disable');
    }
  }
</script>
<script >
  function login(){
    var $btn = $('#button');
    if($btn.hasClass('disable')){return false;}
    var infoDialog = $.dialog({
      type : 'info',
      infoText : '加载中…',
      infoIcon : '/static/img/loading.gif'
    });
    //调用ajax记得加lock,防止多次点击
    $.ajax({
      url: '/index/index/red_book',
      type: 'post',
      dataType:'json',
      data:{'phone':$('#phone').val()},
      success: function (response) {
//        console.log('response',response)
          if( response.code==1 ){
              infoDialog.dialog.update({
                  autoClose : 2000,
                  infoText : response.msg,
                  infoIcon : '/static/img/success.png'
              });
              location.href = response.data;
          }else {
              infoDialog.dialog.update({
                  autoClose : 2000,
                  infoText : response.msg,
                  infoIcon : '/static/img/fail.png'
              });
          }

      },
      error: function () {
        infoDialog.dialog.update({
          autoClose : 2000,
          infoText : '发生错误!',
          infoIcon : '/static/img/fail.png'
        });
      }
    });
  }
</script>
</html>